
.detailEvent {
    grid-area: detailEvent;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "titleDetailEvent"
        "imgDetailEvent"
        "descAndInfosDetEvent"
        "map";
    
    /*width: auto;*/
    margin-top: 10px;
    padding: 5px;
    
    background-color: #ffffff;
}
.titleDetailEvent {
    grid-area: titleDetailEvent;
    margin: 10px 0px 10px 0px;
}
#imgDetailEvent {
    grid-area: imgDetailEvent;
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    margin: 0px auto;
}
.descAndInfosDetEvent {
    grid-area: descAndInfosDetEvent;
    padding: 5px;
}
.infoForDetEvent {
    grid-area: infoForDetEvent;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "dateStartEnd dateStartEnd"
        "address address"
        "city zipcode"
        "descSmall descSmall"
        "maxUsers btnParticipate"
        "modifEvent modifEvent";
}
.dateStartEnd, .address, .city, .zipcode, .descSmall, .maxUsers, #btnParticipate {
    grid-area: dateEvent address city zipcode descSmall maxUsers btnParticipate;
    text-align: left;
}
#btnParticipate {
    width: 100px;
    height: 25px;
    
    text-align: center;
    margin: 0px 0px 10px 0px;
}
.modifEvent {
    grid-area: modifEvent;
    height: 25px;
    text-align: center;
}

/************* Map and image popup **************/
#map {
   grid-area: map;

   height:300px;

   background-color: #6d6c6c;
}
.imgPopup {
   height: 150px;
}