@media (min-width: 768px) {
    .detailEvent {
        grid-area: detailEvent;

        display: grid;

        grid-template-columns: 50% 50%;
        grid-template-areas: 
            "titleDetailEvent titleDetailEvent"
            "descAndInfos map";
        
        /*width: auto;*/
        margin: 0px;
        padding: 0px;
        
        background-color: #ffffff;
    }
    .titleDetailEvent {
        grid-area: titleDetailEvent;
        margin: 0px 0px 10px 0px;
    }

    .descAndInfos {
        grid-area: descAndInfos;

        display: grid;

        grid-template-columns: 1fr;
        grid-template-areas: 
            "imgDetailEvent"
            "infoForAll";
    }

    #imgDetailEvent {
        grid-area: imgDetailEvent;

        object-fit: cover;
        width: 50%;
        max-height: 100%;
    }
    .infoForAllDetEvent {
        grid-area: infoForAllDetEvent;

        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas:
            "dateStartEnd dateStartEnd"
            "city zipcode"
            "descSmall descSmall"
            "maxUsers maxUsers"
            "btnParticipate btnParticipate"
            "modifEvent modifEvent";
    }
    .dateStartEnd, .city, .zipcode, .descSmall, .maxUsers {
        grid-area: dateEvent city zipcode descSmall maxUsers;
        text-align: left;
    }
    #btnParticipate {
        grid-area: btnParticipate;
        width: 100px;
        height: 25px;
        
        text-align: center;
        margin: 10px;
    }
}